@font-face {
   font-family: Roboto-Regular;
   src: url(../fonts/Roboto-Regular.ttf);
   font-style:normal;
   font-weight:normal;
}
@font-face {
   font-family: VarelaRound-Regular;
   src: url(../fonts/VarelaRound-Regular.ttf);
   font-style:normal;
   font-weight:normal;
}
@font-face {
   font-family: Lato-Regular;
   src: url(../fonts/Lato-Regular.ttf);
   font-style:normal;
   font-weight:normal;
}

body{
    font-family: Lato-Regular;
    -webkit-font-smoothing: antialiased;
    background: #333;
    color: #fff;
}
strong {
    src: url(../fonts/Lato-Regular.ttf);
    -webkit-font-smoothing: antialiased; 
}
.intro-section {
    min-height: 650px;
    padding: 0% 0px 0px;
    background-color: #f5f5f5;
    background-image: url('../screen/screen.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a {
    color: #3367d6;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}
.btn {
    border-radius: 1px;
}
.codrops-top span.right {
    float: right;
    font-size: 13px;
    color: #fff;
    padding: 8px 10px 8px 10px;
}
.codrops-top span.left {
    float: left;
    font-size: 13px;
    color: #fff;
    padding: 8px 10px 8px 10px;
}
.codrops-top {
    color: #fff;
    background: #0ac2d2;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    font-size: 0.68em;
    line-height: 2.2;
    z-index: 50000;
    top: 0;
    left: 0;
}
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 25px 0px 20px 0px;
    background-color: #fff;
    border-radius: 1px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}
.login-title2
{
    color: #fff;
    font-size: 26px;
    font-weight: 400;
    display: block;
    -webkit-font-smoothing: antialiased;
}
.login-title1
{
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    display: block;
    -webkit-font-smoothing: antialiased;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.navsu {
    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg, #ffffff 31%, #bfe8f9 50%, #32a7c1 51%, #ffffff 71%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(31%,#ffffff), color-stop(50%,#bfe8f9), color-stop(51%,#32a7c1), color-stop(71%,#ffffff));
    background: -webkit-linear-gradient(-45deg, #ffffff 31%,#bfe8f9 50%,#32a7c1 51%,#ffffff 71%);
    background: -o-linear-gradient(-45deg, #ffffff 31%,#bfe8f9 50%,#32a7c1 51%,#ffffff 71%);
    background: -ms-linear-gradient(-45deg, #ffffff 31%,#bfe8f9 50%,#32a7c1 51%,#ffffff 71%);
    background: linear-gradient(135deg, #ffffff 31%,#bfe8f9 50%,#32a7c1 51%,#ffffff 71%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
    color: white;
    border-bottom: 1px solid #32A7C1;
}
.navas {
    background-color: white;
    padding-top: 10px;
    border-top: 2px solid #32A7C1;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: 0px;
}

.repeat {
    background-color: #fff;
    margin-top: 30px;
    border: 1px solid rgba(0,0,0,0.0);
    box-shadow: 0 20px 140px rgba(0,0,0,0.2), 0 1px 30px rgba(0,0,0,0.1);
}
.form-control {
    border-radius: 1px;
}
.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}