@font-face {
	font-family:"Arvo";
	src:url("../fonts/Arvo-Regular.ttf") format("truetype");
	font-weight:normal;font-style:normal;
}

body {
	background-color: #ffffff;
	font-family:"Arvo";
	margin: 0px;
}

.image-content {
    background: #f7f5e6 url('../image/back.png') 50% 0px no-repeat fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}
.message {
	background-color: #ffffff;
	padding-top: 2%;
}

.images {
	padding-top: 10px;
	transition: all .2s ease-in-out;
}
.images:hover { transform: scale(1.2); }

.center {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.text-center {
	position: absolute;
	margin: 0 auto;
	text-align: center;
}
