@font-face {
   font-family: OpenSans-Light;
   font-style: normal;
   src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
   font-family: OpenSans-Regular;
   font-style: normal;
   src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
   font-family: Oswald-light;
   font-style: normal;
   src: url(../fonts/Oswald-Light.ttf);
}
@font-face {
   font-family: Oswald-Bold;
   font-style: normal;
   src: url(../fonts/Oswald-Bold.ttf);
}
@font-face {
   font-family: Oswald;
   font-style: normal;
   src: url(../fonts/Oswald.ttf);
}



body {
    width: 100%;
    height: 100%;
   font-family: OpenSans-Light;
}

html {
    width: 100%;
    height: 100%;
}

a:hover, a:active, a:focus {
    text-decoration: none;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/* Owner */

.navas {
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjMxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2JmZThmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzMyYTdjMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(-45deg,  #ffffff 31%, #bfe8f9 50%, #32a7c1 51%, #ffffff 71%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(31%,#ffffff), color-stop(50%,#bfe8f9), color-stop(51%,#32a7c1), color-stop(71%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #ffffff 31%,#bfe8f9 50%,#32a7c1 51%,#ffffff 71%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #ffffff 31%,#bfe8f9 50%,#32a7c1 51%,#ffffff 71%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #ffffff 31%,#bfe8f9 50%,#32a7c1 51%,#ffffff 71%); /* IE10+ */
background: linear-gradient(135deg,  #ffffff 31%,#bfe8f9 50%,#32a7c1 51%,#ffffff 71%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    border-color: transparent;
}

.brands {
    padding: 5px 0px 0px;
}

.lis {

}

.icon {
    color: #F64747;
    font-size: 18px;
}

.fons {
    font-size: 16px;
    font-family: Oswald-Light;
    letter-spacing: 1px;
    color: #3c3c3b;
}

.jud {
    font-family: OpenSans-Light;
    color: #343E48;
    font-weight: 100;
    padding-left: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-left: 1px solid #32a7c1;
}

.judt {
    font-family: OpenSans-Light;
    color: #343E48;
    font-weight: 100;
    padding-left: 5%;
    margin-top: 50px;
    margin-bottom: 10px;
    border-left: 1px solid #32a7c1;
}

/* Jumbotron */

.intro-section {
    min-height: 200px;
    padding: 0% 0px 0px;
    text-align: center;

    background-color: ;

    background-image: url('../img/back-jumb.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.img {
    padding-top: 50%;
}

.imgs {
    padding-top: 70%;
}

.car {
    padding-left: 0px;
    padding-right: 0px;
}

.mek {
    margin: 0px;
    padding: 10px
}

.btns {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #ffffff 0%, #54ebff 50%, #91eeff 51%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ffffff), color-stop(50%,#54ebff), color-stop(51%,#91eeff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #ffffff 0%,#54ebff 50%,#91eeff 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #ffffff 0%,#54ebff 50%,#91eeff 51%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #ffffff 0%,#54ebff 50%,#91eeff 51%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(45deg,  #ffffff 0%,#54ebff 50%,#91eeff 51%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    border: 1px solid #32a7c1;
}


/* Mekanisme */

.about-section {
    height: auto;
    padding-top: 60px;
    padding-bottom: 0px;
    text-align: center;
    background: #ffffff;
}

.tumb {
    border: 5px solid #f5f5f5;
    border-radius: 0px;
}

.buton a {
    color: white;
}

.buton a:hover .icons, .buton a:active .icons, .buton a:focus .icons {
    background-color: #68c8d8;
}

.buton a:hover .log, .buton a:active .log, .buton a:focus .log {
    background-color: #41c1d6;
}

.buton a:hover .iconst, .buton a:active .iconst, .buton a:focus .iconst {
    background-color: #f2555d;
}

.buton a:hover .reg, .buton a:active .reg, .buton a:focus .reg {
    background-color: #ea2832;
}

.log {
    background-color: #32a7c1;
    min-height: 66px;
}

.reg {
    background-color: #e94849;
    min-height: 66px;
    margin-top: 50px;
}

.icons {
    background-color: #29b7ce;
    padding: 15px;
    font-size: 25px;
    box-shadow: 10px 5px 15px #108699;
}

.iconst {
    background-color: #e55c63;
    padding: 15px 0px 15px 43%;
    font-size: 25px;
    box-shadow: 10px 5px 15px #c60c16;
}

    .left {
        padding-left: 0px;
    }

.teks-but {
    font-family: Oswald-light;
    font-size: 36px;
}

    .top {
        padding-top: 5px;
    }

.oke {
    color: #ffffff;
}

.mec-p {
    font-family: Oswald-Light;
    letter-spacing: 1px;
}

/* Beasiswa tersedia */

.services-section {
    height: auto;
    padding-top: 60px;
    padding-bottom: 0px;
    text-align: center;
    background: #fff;
}

.service {
    min-height: 300px;
}

.butons a {
    color: white;
}

.butons a:hover .more, .butons a:active .more, .butons a:focus .more {
    background-color: #149F84;
}

.more {
    background-color: #2F9DAF;
    min-height: 40px;
    margin-top: 20px;
}

.teks-bot {
    font-family: OpenSans-Light;
    font-size: 20px;
}

    .up {
        padding-top: 5px;
    }

    .ups {
        padding-top: 5px;
    }

.juds {
    font-family: OpenSans-Light;
    color: #343E48;
    font-weight: 100;
    padding-left: 5%;
    margin-bottom: 0px;
    border-left: 1px solid #32a7c1;
}

.daftar-bea {
    margin-top: 10px;
}

.thumb {
    border: 10px solid #f5f5f5;
    border-radius: 0px;
}

/* Login */

.login-section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 60px;
    background: #f9F9F9;
}

.oke {
    min-height: 500px;
}

    /* Form Login */
    .martop {
        margin-top: 20px;
    }
    .padtop {
        margin-top: 20px;
    }
    .login {
        background-color: #ffffff;
        min-height: 300px;
        padding: 30px 40px 40px;
        margin-top: 30px;
    }
    .logins {
        background-color: #ffffff;
        min-height: 460px;
        padding: 30px 40px 40px;
        margin-top: 30px;
    }
    .regis {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .regist {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .forgru {
        margin-bottom: 10px;
    }
    .forms {
        padding: 5px 15px;
    }
    .labels {
        padding-top: 10px;
        font-size: 12px;
    }
    .labelst {
        padding-top: 0px;
        font-size: 12px;
    }
    .btn-log {
        background-color: #32a7c1; 
        color: #ffffff;
        margin: 20px 0px;
    }
        .btn-log:hover {
            background-color: #41c1d6; 
            color: #ffffff;
        }
    .btn-logs {
        background-color: #32a7c1; 
        color: #ffffff;
        margin: 0px 0px;
    }
        .btn-logs:hover {
            background-color: #41c1d6; 
            color: #ffffff;
        }

.mofo {
  border-top: 1px solid transparent;
}

/* Kontak */

.contact-section {
    height: auto;
    padding-top: 30px;
    text-align: center;
    background: #ffffff;
}

.psf {
    margin: 0px;
    font-family: Oswald-Light;
    letter-spacing: 1px;
}

/* Footer */

.navsu {
    background-color: white;
    padding-top: 30px;
    border: none;
    border-radius: 0px;
    border-top: 2px solid #32A7C1;
    margin-top: 0px;
}


/* Custom */

.navas .navbar-nav>.active>a, .navas .navbar-nav>.active>a:focus, .navas .navbar-nav>.active>a:hover {
    background-color: transparent;
    border-bottom: 3px solid #32a7c1;
}




.main-suc {
    margin-top: 100%;
}