@font-face {
   font-family: OpenSans-Light;
   font-style: normal;
   src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
   font-family: OpenSans-Regular;
   font-style: normal;
   src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
   font-family: Oswald-light;
   font-style: normal;
   src: url(../fonts/Oswald-Light.ttf);
}



body {
    width: 100%;
    height: 100%;
   font-family: OpenSans-Light;
}

html {
    width: 100%;
    height: 100%;
}

a:hover, a:active, a:focus {
    text-decoration: none;
}

@media(min-width:767px) {
    .navbar {
        padding: 5px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/* Owner */

.navas {
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjMxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2JmZThmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzMyYTdjMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(-45deg,  #ffffff 31%, #bfe8f9 50%, #32a7c1 51%, #ffffff 71%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(31%,#ffffff), color-stop(50%,#bfe8f9), color-stop(51%,#32a7c1), color-stop(71%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #ffffff 31%,#bfe8f9 50%,#32a7c1 51%,#ffffff 71%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #ffffff 31%,#bfe8f9 50%,#32a7c1 51%,#ffffff 71%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #ffffff 31%,#bfe8f9 50%,#32a7c1 51%,#ffffff 71%); /* IE10+ */
background: linear-gradient(135deg,  #ffffff 31%,#bfe8f9 50%,#32a7c1 51%,#ffffff 71%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    border-color: transparent;
    margin-bottom: 0px;
}

.brands {
    padding: 5px 0px 0px;
}

.lis {

}

.icon {
    color: #F64747;
    font-size: 18px;
}

.fons {
    font-size: 16px;
    font-family: OpenSans-Light;
    color: #000;
}

.jud {
    font-family: OpenSans-Light;
    color: #343E48;
    font-weight: 100;
    padding-left: 5%;
    margin-bottom: 50px;
    border-left: 1px solid #32a7c1;
}

/* Jumbotron */

.intro-section {
    min-height: 650px;
    padding: 0% 0px 0px;

    background-color: #f5f5f5;

    background-image: url('../img/back-jumb.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.register {
    background-color: #ffffff;
    min-height: 950px;
    padding: 30px 40px 40px;
    margin-top: 3%;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}

.register-sm {
    background-color: #ffffff;
    min-height: 850px;
    padding: 30px 40px 40px;
    margin-top: 20%;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
}

    .login {
        background-color: #ffffff;
        min-height: 300px;
        padding: 30px 40px 40px;
        margin-top: 20%;
        -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    }
    .logins {
        background-color: #ffffff;
        min-height: 400px;
        padding: 30px 40px 40px;
        margin-top: 20%;
        -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    }
        .regis {
            margin-top: 0px;
            margin-bottom: 20px;
        }
        .forgru {
            margin-bottom: 10px;
        }
        .labels {
            padding-top: 10px;
            font-size: 12px;
        }

        .buton a {
            color: white;
        }

        .buton a:hover .reg, .buton a:active .reg, .buton a:focus .reg {
            background-color: #ea2832;
        }

        .reg {
            background-color: #e94849;
            min-height: 66px;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .iconst {
            background-color: #e55c63;
            padding: 15px 0px 15px 43%;
            font-size: 25px;
            box-shadow: 10px 5px 15px #c60c16;
        }
            .left {
                padding-left: 0px;
            }

        .teks-but {
            font-family: Oswald-light;
            font-size: 36px;
        }

            .top {
                padding-top: 5px;
            }

        .juds {
            font-family: OpenSans-Light;
            color: #343E48;
            font-weight: 100;
            padding-left: 5%;
            margin-bottom: 0px;
            border-left: 1px solid #32a7c1;
        }

        .judt {
            font-family: OpenSans-Light;
            color: #343E48;
            font-weight: 100;
            padding-left: 5%;
            margin-bottom: 20px;
            border-left: 1px solid #32a7c1;
        }

        .oke {
            color: #ffffff;
        }
            .btn-log {
                background-color: #32a7c1; 
                color: #ffffff;
                margin: 20px 0px;
            }
                .btn-log:hover {
                    background-color: #41c1d6; 
                    color: #ffffff;
                }
            .btn-logs {
                background-color: #32a7c1; 
                color: #ffffff;
                margin: 0px 0px;
            }
                .btn-logs:hover {
                    background-color: #41c1d6; 
                    color: #ffffff;
                }
        .img {
            padding-top: 50%;
        }

        .imgs {
            padding-top: 70%;
        }

        .car {
            padding-left: 0px;
            padding-right: 0px;
        }

        .mek {
            margin: 0px;
            padding: 10px
        }

        .btns {
            background: #ffffff; /* Old browsers */
            background: -moz-linear-gradient(45deg,  #ffffff 0%, #54ebff 50%, #91eeff 51%, #ffffff 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ffffff), color-stop(50%,#54ebff), color-stop(51%,#91eeff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(45deg,  #ffffff 0%,#54ebff 50%,#91eeff 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(45deg,  #ffffff 0%,#54ebff 50%,#91eeff 51%,#ffffff 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(45deg,  #ffffff 0%,#54ebff 50%,#91eeff 51%,#ffffff 100%); /* IE10+ */
            background: linear-gradient(45deg,  #ffffff 0%,#54ebff 50%,#91eeff 51%,#ffffff 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

            border: 1px solid #32a7c1;
        }

.main-suc {
    min-height: 550px;
}
.pi-title {
    font-family: Oswald-light;
}

/* Kontak */

.contact-section {
    height: auto;
    padding-top: 30px;
    text-align: center;
    background: #ffffff;
}

.psf {
    margin: 0px;
}

/* Footer */

.navsu {
    background-color: white;
    padding-top: 30px;
    border: none;
    border-radius: 0px;
    border-top: 2px solid #32A7C1;
}


/* Custom */

.navas .navbar-nav>.active>a, .navas .navbar-nav>.active>a:focus, .navas .navbar-nav>.active>a:hover {
    background-color: transparent;
}


/* Alert */

.alert-tb {
   font-family: Oswald-light;
   color: black;
}




